<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="/img/favicon.ico">
        <title>Fifty Shades of Jennifer Grey</title>
        <link href="/styles/fiftyshadesofjennifergrey.css" rel="stylesheet">

        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon">

        <meta property="og:title" content="Fifty Shades of Jennifer Grey">
        <meta property="og:site_name" content="Fifty Shades of Jennifer Grey">
        <meta property="og:url" content="http://fiftyshadesofjennifergrey.com">
        <meta property="og:description" content="Fifty Shades of Jennifer Grey">
        <meta property="og:image" content="http://fiftyshadesofjennifergrey.com/img/3.jpg" />
    </head>
    <body>
        <div class="container">
            <div class="container-shades">
                <div class="shade">
                    <img src="/img/1.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;Laters, baby.&#8221;
                            
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#1" data-url="http://fiftyshadesofjennifergrey.com" data-text="Laters, baby. http://fiftyshadesofjennifergrey.com/img/1.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/2.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;Never trust a man who can dance.&#8221;
                            
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#2" data-url="http://fiftyshadesofjennifergrey.com" data-text="Never trust a man who can dance. http://fiftyshadesofjennifergrey.com/img/2.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/3.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;No, Anastasia it doesn’t. Firstly, I don’t make love. I fuck... hard. Secondly, there’s a lot more paperwork to do, and thirdly, you don’t yet know what you’re in for.&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#3" data-url="http://fiftyshadesofjennifergrey.com" data-text="No, Anastasia it doesn’t. Firstly, I don’t make love. I fuck&hellip; http://fiftyshadesofjennifergrey.com/img/3.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/4.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;Men aren't really complicated, Ana, honey. They are very simple, literal creatures.&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#4" data-url="http://fiftyshadesofjennifergrey.com" data-text="Men aren't really complicated, Ana, honey. They are very simple, literal creatures. http://fiftyshadesofjennifergrey.com/img/4.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/5.jpg">
                    <div class="quote">
                        <div class="inner">
                            "Because I'm fifty shades of fucked-up, Anastasia&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#5" data-url="http://fiftyshadesofjennifergrey.com" data-text="Because I'm fifty shades of fucked-up, Anastasia http://fiftyshadesofjennifergrey.com/img/5.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/6.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;My subconscious is furious, medusa-like in her anger, hair flying, her hands clenched around her face like Edvard Munch's Scream.&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#6" data-url="http://fiftyshadesofjennifergrey.com" data-text="My subconscious is furious, medusa-like in her anger, hair flying, her hands&hellip; http://fiftyshadesofjennifergrey.com/img/6.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/7.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;Why do I want to spend every single minute with this controlling sex god? Oh yes, I've fallen in love with him, and he can fly.&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#7" data-url="http://fiftyshadesofjennifergrey.com" data-text="Why do I want to spend every single minute with this controlling sex god? Oh&hellip; http://fiftyshadesofjennifergrey.com/img/7.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/8.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;I've never wanted more, until I met you.&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#8" data-url="http://fiftyshadesofjennifergrey.com" data-text="I've never wanted more, until I met you. http://fiftyshadesofjennifergrey.com/img/8.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/9.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;Who’s he kidding? He’s no gentleman. He has my panties&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#9" data-url="http://fiftyshadesofjennifergrey.com" data-text="Who’s he kidding? He’s no gentleman. He has my panties http://fiftyshadesofjennifergrey.com/img/9.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/10.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;Are you gay, Mr. Grey?&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#10" data-url="http://fiftyshadesofjennifergrey.com" data-text="Are you gay, Mr. Grey? http://fiftyshadesofjennifergrey.com/img/10.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/11.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;If you give yourself to me, it will be so much better. Trust me, Anastasia, I can take you places you don't even know exist.&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#11" data-url="http://fiftyshadesofjennifergrey.com" data-text="If you give yourself to me, it will be so much better. Trust me, Anastasia&hellip; http://fiftyshadesofjennifergrey.com/img/11.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/12.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;Yes, I'm rich. Get use to it.&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#12" data-url="http://fiftyshadesofjennifergrey.com" data-text="Yes, I'm rich. Get use to it. http://fiftyshadesofjennifergrey.com/img/12.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/13.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;Why is anyone the way they are? That’s kind of hard to answer. Why do some people like cheese and other people hate it? Do you like cheese?&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#13" data-url="http://fiftyshadesofjennifergrey.com" data-text="Why is anyone the way they are? That’s kind of hard to answer. Why do some&hellip; http://fiftyshadesofjennifergrey.com/img/13.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/14.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;My subconscious purses her lips and mouths the word ‘ho.’ I ignore her.&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#14" data-url="http://fiftyshadesofjennifergrey.com" data-text="My subconscious purses her lips and mouths the word ‘ho.’ I ignore her. http://fiftyshadesofjennifergrey.com/img/14.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/15.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;I thought it was chocolate hot fudge brownie sex that we had, with a cherry on top. But hey, what do I know?&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#15" data-url="http://fiftyshadesofjennifergrey.com" data-text="I thought it was chocolate hot fudge brownie sex that we had, with&hellip; http://fiftyshadesofjennifergrey.com/img/15.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/16.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;'Anastasia, you were comatose. Necrophilia is not my thing. I like my women sentient and receptive', he says dryly.&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#16" data-url="http://fiftyshadesofjennifergrey.com" data-text="Anastasia, you were comatose. Necrophilia is not my thing. I like my women&hellip; http://fiftyshadesofjennifergrey.com/img/16.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/17.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;What is it with all the immaculate blondes? It's like Stepford here.&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#17" data-url="http://fiftyshadesofjennifergrey.com" data-text="What is it with all the immaculate blondes? It's like Stepford here. http://fiftyshadesofjennifergrey.com/img/17.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/18.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;My inner goddess sits in the lotus position looking serene except for the sly, self-congratulatory smile on her face.&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#18" data-url="http://fiftyshadesofjennifergrey.com" data-text="My inner goddess sits in the lotus position looking serene except for the&hellip; http://fiftyshadesofjennifergrey.com/img/18.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/19.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;Sitting beside me, he gently pulls my sweatpants down again. Up and down like whores’ drawers, my subconscious remarks bitterly. In my head, I tell her where to go.&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#19" data-url="http://fiftyshadesofjennifergrey.com" data-text="Sitting beside me, he gently pulls my sweatpants down again. Up and down&hellip; http://fiftyshadesofjennifergrey.com/img/19.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/20.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;He’s said such loving things today&hellip; But how long will he want to do this without wanting to beat the crap out of me.&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#20" data-url="http://fiftyshadesofjennifergrey.com" data-text="He’s said such loving things today&hellip; But how long will he want to do&hellip; http://fiftyshadesofjennifergrey.com/img/20.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/21.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;It’s Friday, and we shall be celebrating tonight, really celebrating. I might even get drunk! I’ve never been drunk before.&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#21" data-url="http://fiftyshadesofjennifergrey.com" data-text="It’s Friday, and we shall be celebrating tonight, really celebrating&hellip; http://fiftyshadesofjennifergrey.com/img/21.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/22.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;Suddenly, he sits up and tugs my panties off and throws them on the floor. Pulling off his boxer briefs, his erection springs free. Holy cow&hellip;&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#22" data-url="http://fiftyshadesofjennifergrey.com" data-text="Suddenly, he sits up and tugs my panties off and throws them on the floor. http://fiftyshadesofjennifergrey.com/img/22.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/23.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;He smiles his dazzling toothy all-Hispanic-American smile.&#8221;
                            
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#23" data-url="http://fiftyshadesofjennifergrey.com" data-text="He smiles his dazzling toothy all-Hispanic-American smile. http://fiftyshadesofjennifergrey.com/img/23.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/24.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;'No fisting, you say. Anything else you object to?' he asks softly.&#8221;
                            
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#24" data-url="http://fiftyshadesofjennifergrey.com" data-text="'No fisting, you say. Anything else you object to?' he asks softly. http://fiftyshadesofjennifergrey.com/img/24.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/25.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;Anal intercourse doesn’t exactly float my boat.&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#25" data-url="http://fiftyshadesofjennifergrey.com" data-text="Anal intercourse doesn’t exactly float my boat. http://fiftyshadesofjennifergrey.com/img/25.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/26.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;I remember that I have my period.&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#26" data-url="http://fiftyshadesofjennifergrey.com" data-text="I remember that I have my period. http://fiftyshadesofjennifergrey.com/img/26.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/27.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;His voice is warm and husky like dark melted chocolate fudge caramel&hellip; or something.&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#27" data-url="http://fiftyshadesofjennifergrey.com" data-text="His voice is warm and husky like dark melted chocolate fudge caramel&hellip; http://fiftyshadesofjennifergrey.com/img/27.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/28.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;I eye Christian's toothbrush. It would be like having him in my mouth. Hmm&hellip;&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#28" data-url="http://fiftyshadesofjennifergrey.com" data-text="I eye Christian's toothbrush. It would be like having him in my mouth. http://fiftyshadesofjennifergrey.com/img/28.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/29.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;Kinky fuckery.&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#29" data-url="http://fiftyshadesofjennifergrey.com" data-text="Kinky fuckery. http://fiftyshadesofjennifergrey.com/img/6.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/30.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;Christian, you are the state lottery, the cure for cancer, and the three wishes from Aladdin's lamp all rolled into one&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#30" data-url="http://fiftyshadesofjennifergrey.com" data-text="Christian, you are the state lottery, the cure for cancer, and the three&hellip; http://fiftyshadesofjennifergrey.com/img/29.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/31.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;My inner goddess fist pumps the air above her chaise lounge.&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#31" data-url="http://fiftyshadesofjennifergrey.com" data-text="My inner goddess fist pumps the air above her chaise lounge. http://fiftyshadesofjennifergrey.com/img/30.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/32.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;His finger circled my puckered love cave. 'Are you ready?' He mewled smirking at me like a mother hamster about to eat her three legged young.&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#32" data-url="http://fiftyshadesofjennifergrey.com" data-text="His finger circled my puckered love cave. 'Are you ready?' He mewled&hellip; http://fiftyshadesofjennifergrey.com/img/31.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/33.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;'See how good we are together,' he murmurs. 'If you give yourself to me, it will be so much better. Trust me, Anastasia, I can take you places you  don't even know exist.'&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#33" data-url="http://fiftyshadesofjennifergrey.com" data-text="'See how good we are together,' he murmurs. 'If you give yourself to me&hellip; http://fiftyshadesofjennifergrey.com/img/32.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/34.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;What can I say? Deep down I would just like more, more affection, more playful Christian, more&hellip; love.&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#34" data-url="http://fiftyshadesofjennifergrey.com" data-text="What can I say? Deep down I would just like more, more affection, more&hellip; http://fiftyshadesofjennifergrey.com/img/33.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/35.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;Why, oh why have I fallen for someone who is plain crazy—beautiful, sexy as fuck, richer than Croesus, and  crazy with a capital K?&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#35" data-url="http://fiftyshadesofjennifergrey.com" data-text="Why, oh why have I fallen for someone who is plain crazy—beautiful, sexy as&hellip; http://fiftyshadesofjennifergrey.com/img/34.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/36.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;I just want to enjoy the quiet serene afterglow of making love with Christian Grey, because that’s what we’ve done: gentle, sweet lovemaking.&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#36" data-url="http://fiftyshadesofjennifergrey.com" data-text="I just want to enjoy the quiet serene afterglow of making love with&hellip; http://fiftyshadesofjennifergrey.com/img/35.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/37.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;You should see what I can do with a cane or a cat.&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#37" data-url="http://fiftyshadesofjennifergrey.com" data-text="You should see what I can do with a cane or a cat. http://fiftyshadesofjennifergrey.com/img/36.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/38.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;Instantly the plug inside me starts to vibrate—down there!&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#38" data-url="http://fiftyshadesofjennifergrey.com" data-text="Instantly the plug inside me starts to vibrate—down there! http://fiftyshadesofjennifergrey.com/img/37.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/39.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;What does that mean? Does he white-slave small children to some God-forsaken part of the planet?&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#39" data-url="http://fiftyshadesofjennifergrey.com" data-text="What does that mean? Does he white-slave small children to some&hellip; http://fiftyshadesofjennifergrey.com/img/38.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/40.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;And so a pattern develops: wake, work, cry. sleep.&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#40" data-url="http://fiftyshadesofjennifergrey.com" data-text="And so a pattern develops: wake, work, cry. sleep. http://fiftyshadesofjennifergrey.com/img/39.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/41.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;Oh my&hellip; I may have to keep these.&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#41" data-url="http://fiftyshadesofjennifergrey.com" data-text="Oh my&hellip; I may have to keep these. http://fiftyshadesofjennifergrey.com/img/40.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/42.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;I did follow my heart, and I have a sore ass&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#42" data-url="http://fiftyshadesofjennifergrey.com" data-text="I did follow my heart, and I have a sore ass http://fiftyshadesofjennifergrey.com/img/41.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/43.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;But now I feel like a receptacle – an empty vessel to be filled at his whim.&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#43" data-url="http://fiftyshadesofjennifergrey.com" data-text="But now I feel like a receptacle – an empty vessel to be filled at his&hellip; http://fiftyshadesofjennifergrey.com/img/42.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/44.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;Has that obscenely rich fucker upset you again?&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#44" data-url="http://fiftyshadesofjennifergrey.com" data-text="Has that obscenely rich fucker upset you again? http://fiftyshadesofjennifergrey.com/img/43.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/45.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;Idly, I switch the mean machine on and fire up the e-mail program.&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#45" data-url="http://fiftyshadesofjennifergrey.com" data-text="Idly, I switch the mean machine on and fire up the e-mail program. http://fiftyshadesofjennifergrey.com/img/44.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/46.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;Feel it baby.&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#46" data-url="http://fiftyshadesofjennifergrey.com" data-text="Feel it baby. http://fiftyshadesofjennifergrey.com/img/45.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/47.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;He reaches between my legs and pulls on the blue string- what?!&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#47" data-url="http://fiftyshadesofjennifergrey.com" data-text="He reaches between my legs and pulls on the blue string- what?! http://fiftyshadesofjennifergrey.com/img/46.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/48.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;And then he’s inside me&hellip; ah!&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#48" data-url="http://fiftyshadesofjennifergrey.com" data-text="And then he’s inside me&hellip; ah! http://fiftyshadesofjennifergrey.com/img/47.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/49.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;I glimpse his rippling shoulder muscles glistening with his perspiration in the dim light. He’s so freaking hot.&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#49" data-url="http://fiftyshadesofjennifergrey.com" data-text="I glimpse his rippling shoulder muscles glistening with his perspiration&hellip; http://fiftyshadesofjennifergrey.com/img/48.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
                <div class="shade">
                    <img src="/img/50.jpg">
                    <div class="quote">
                        <div class="inner">
                            &#8220;My subconscious took the opportunity to remind me that Christian was indeed the ultimate stalker and I shrugged, undaunted – it’s not like I didn’t know&#8221;
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-counturl="http://fiftyshadesofjennifergrey.com#50" data-url="http://fiftyshadesofjennifergrey.com" data-text="My subconscious took the opportunity to remind me that Christian was indeed&hellip; http://fiftyshadesofjennifergrey.com/img/49.jpg" data-via="hungry_inc" data-related="hungry_inc">Tweet</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <a href="http://hungryinc.com"><img src="/img/hungry.png"></a>
        </footer>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-53193580-1', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>